.table {
  display: table;
  width: 100%;
  color: white;
}

.tr {
  display: table-row;
}

.thead {
  display: table-header-group;
  background: #007afd;
}

.td,
.th {
  display: table-cell;
  padding: 3px 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 10%;
}

.tfoot {
  display: table-footer-group;
  font-weight: bold;
  background-color: #ddd;
}

.tbody {
  display: table-row-group;
}
.tbody .tr {
  background: #2c2f34;
}
.tbody .tr:nth-child(even) {
  background: #212429;
}

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
/*
  ##Device = Tablets, Ipads (pordiv class="tr"ait)
  ##Screen = B/w 768px to 1024px
*/
/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
/*
  ##Device = Most of the Smartphones Mobiles (Pordiv class="tr"ait)
  ##Screen = B/w 320px to 479px
*/
body {
  font-family: Tahoma, sans-serif;
  font-size: 12px;
}

/*# sourceMappingURL=index.css.map */
