.table {
  display: table;
  width: 100%;
  color: white;
}
.tr {
  display: table-row;
}
.thead {
  display: table-header-group;
  background: #007afd;
}
.td,
.th {
  display: table-cell;
  padding: 3px 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 10%;
}
.tfoot {
  display: table-footer-group;
  font-weight: bold;
  background-color: #ddd;
}
.tbody {
  display: table-row-group;
  .tr {
    background: #2c2f34;

    &:nth-child(even) {
      background: #212429;
    }
  }
}
