<template>
  <div>
    <table-container :fields="fields"></table-container>
  </div>
</template>

<script>
module.exports = {
  name: "App",
  components: {
    TableContainer: httpVueLoader("./components/TableContainer.vue"),
  },
  data() {
    return {
      fields: [
        "FirstName",
        "LastName",
        "Username",
        "Age",
        "Gender",
        "Email",
        "Country",
        "City",
        "Address"
      ]
    };
  }
};
</script>
