<template>
  <div class="thead">
    <div class="tr">
      <div class="th">#</div>
      <div class="th" v-for="field in fields">
        {{ fieldLabel(field) }}
      </div>
    </div>
  </div>
</template>

<script>
module.exports = {
  name: "TableHeader",
  props: ["fields"],
  methods: {
    fieldLabel(field) {
      return (
        field
          // insert a space before all caps
          .replace(/([A-Z])/g, " $1")
      );
    }
  }
};
</script>
