<template>
  <div>
    <table-search></table-search>
    <div class="table">
      <table-header :fields="fields"></table-header>
      <div class="tbody">
        <div class="tr" v-for="(results, index) in results">
          <div class="td">{{ index }}</div>
          <div class="td" v-for="field in fields">
            {{ fieldValue(field, results) }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
module.exports = {
  name: "TableContainer",
  components: {
    TableHeader: httpVueLoader("./TableHeader.vue"),
    TableSearch: httpVueLoader("./TableSearch.vue")
  },
  props: ["fields"],
  data() {
    return {
      users: []
    };
  },
  created() {
    this.loadUserData();
  },
  methods: {
    loadUserData() {
      fetch("/data/user-data.json")
        .then(response => {
          return response.json();
        })
        .then(data => {
          this.users = data;
        });
    },
    fieldValue(field, data) {
      return data[field];
    }
  },
  computed: {
    results() {
      return this.users.slice(0, 10);
    }
  }
};
</script>
